<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск в локальной сети</title>
</head>
<body>
    <h1>Поисковик!</h1>
    
    <p>Ищем здесь</p>
    <form action="{{ url_for('index') }}" method="post">
        <input type="text" name="query" placeholder="Введите поисковый запрос" value="{{ query }}">
        <button type="submit">Поиск</button>
    </form>

    <p>Здесь результаты:</p>
    {% for result in results %}
        <div>
            <h2><a href={{ url_for('static', filename='files/' + result._source.file.url[15:]) }} target=_blank download>{{ result._source.file.url[15:] }}</a></h2>
            {% for cont in result.highlight.content %}
                <p>- {{ cont|replace('<em>','<')|replace('</em>','>') }}</p>
            {% endfor %}
            
        </div>
    {% endfor %}


</body>
</html>
