# Файл docker-compose.yml
version: '2.2'
services:
  elasticsearch:
    image: elasticsearch:${ELASTIC_VERSION}
    container_name: elasticsearch
    restart: always
    environment:
      - discovery.type=single-node
      - xpack.security.http.ssl.enabled=false
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
    ports:
      - 9200:9200

  kibana:
    image: kibana:${ELASTIC_VERSION}
    container_name: kibana
    depends_on:
      - elasticsearch
    restart: always
    ports:
      - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=elastic
      - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}

  fscrawler:
    image: dadoonet/fscrawler:${FSCRAWLER_VERSION}
    container_name: fscrawler
    restart: always
    volumes:
      - ./data:/tmp/es:ro
      - ./config:/root/.fscrawler
    depends_on:
      - elasticsearch
    command: fscrawler idx --restart

  flask_app:
    build: ./flask_app
    container_name: flask_app
    ports:
      - 8000:8000
    volumes:
      - ./flask_app:/app
      - ./data:/app/static/files:ro
    depends_on:
      - elasticsearch